
 ul{
     list-style: none;
     padding:0;
     margin:0;
     display:flex
 }

a{
    text-decoration:none;
    color:white;
}

.spacing{
    flex:1 1 auto;
}

.button, button{
  border-radius: 1.59rem!important;
  padding-left: 1.6rem!important;
  padding-right: 1.6rem!important;
}

button:hover, .button:hover{
  background-color: #1533da;
}


