<mat-card>
    <form (submit) ="onSavePost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input 
            matInput type="text"
            name="title"
             [ngModel]="post.title"
             required
             minlength="4"
             placeholder="Post Title"
             #title=ngModel>
             <mat-error *ngIf="title.invalid">Please Enter the Title of Post with Min Length of 4!</mat-error>
        </mat-form-field> 
    <mat-form-field>
        <textarea 
         matInput
          rows="8" 
          name="content"
         [ngModel]="post.content" 
         required
         placeholder="Content "
         #content="ngModel">
        </textarea>
        <mat-error *ngIf="content.invalid">Please Enter the Content of Post</mat-error>

    </mat-form-field>
    <button 
        mat-raised-button
        color="accent"
        type = "submit"
        >Save Post
    </button>
    </form>
</mat-card>
    