<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" /> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<form  [formGroup]="SearchBarForm" (ngSubmit)="onSubmit()">

  <div class="row">

    <div class="col-sm-10 mt-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">
          <svg aria-hidden="true" class="s-input-icon s-input-icon__search svg-icon iconSearch" width="18" height="18" viewBox="0 0 18 18"><path d="M18 16.5l-5.14-5.18h-.35a7 7 0 10-1.19 1.19v.35L16.5 18l1.5-1.5zM12 7A5 5 0 112 7a5 5 0 0110 0z"></path></svg>
        </span>
        </div>
        <input type="text" (keyup)="descriptionSearched.next($event)" class="form-control"
        formControlName="searchPost" placeholder="Search Posts.." aria-describedby="inputGroup-sizing-default">
      </div>
   </div>

  </div>
</form>

<div class="container ">
<div *ngFor="let post of posts; let i = index" class="shadow-lg p-3 mb-5 bg-white rounded">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <img class="avatar" src="{{post.avatar}}" alt="{{post.title}}">
    </div>
    <mat-card-title>{{post.creatorName}}</mat-card-title>
    <mat-card-subtitle>{{post.title}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{post.imagePath}} alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{post.content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <!-- *ngIf="userIsAuthenticated && userId===post.user" -->

    <a class="fa fa-thumbs-up like" color="primary"  (click)="onLike(post._id,i)"
      >Like {{post.likes.length}}</a>

    <a mat-button color="primary" *ngIf="userId==post.creator" [routerLink]="['/edit',post._id]"
    >edit  </a>
    <a mat-button color="primary" *ngIf="likeCheck(post.likes,userId)" (click)="onunlike(post._id)"
      > Unlike Post</a>

    <button class="fa fa-trash like" *ngIf="userId==post.creator" color="warn" (click)="onDelete(post._id)"
      >Delete</button>

    <!-- <button class="fa fa-thumbs-up">{{post.likes.length}} Like</button>
    <button class="fa fa-pencil-square"></button>
    <button mat-button></button>
    <button class="fa fa-trash"></button> -->
  </mat-card-actions>
</mat-card>
</div>
</div>
