:host{
    display: block;
    margin-top: 1rem;
}

.info-text{
    text-align: center;
}

mat-spinner{
    margin:auto;
}

mat-paginator{
    margin-top:1rem;
}

.post-image{
    width:100%;
}

.post-view{
    max-width: 450px ;
    margin:auto;
    padding-bottom: 3%;
    height: auto;
}

.dot{
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.post-header{
    flex-direction: row;
    height: 20px;
    padding: 16px;
}

.post-image img{
    width:100%;
    box-shadow:2px 3px 5px rgba(0,0,0,0.5);
}
.example-card {
    max-width: 400px;
  }

  .example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
  }

  .like{
    cursor: pointer;
  }

  .avatar{
      background-size: cover;
      border-radius: 50%;
      max-width: 44px;
      max-height: 44px;
      display: flex;
  }

  button{
      text-decoration: none;
      font-size: 17px;
      color: blueviolet;
      border: none;
      background-color: white;
  }

  .container{
    display: grid;
      justify-content: center;
      align-items: center;
  }
